<!-- Launch file for planner in vicon room. Note: ros_arduino_interface_Vicon might be depracated -->
<launch>  
  <node pkg="lattice_planner" type="lattice_planner.py" name="lattice_planner" />
  <node pkg="lattice_planner" type="controller.py" name="controller"/>
  <node pkg="ros_arduino_interface" type="ros_arduino_interface_Vicon.py" name="ros_arduino_interface_Vicon"/>
  <node pkg="odom_Vicon" type="odom_Vicon.py" name="Vicon_pose" />
</launch>
